project development phase/performace testing/sprint 3/flow.json
[{"id":"638e7e247f34d9ba","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"23480b1e807d6a65","type":"inject","z":"638e7e247f34d9ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["8e45a0ee5dd61063"]]},{"id":"8e45a0ee5dd61063","type":"function","z":"638e7e247f34d9ba","name":"function to compare time","func":"var d= new Date();\nvar utc= d.getTime()+ (d.getTimezoneOffset()  *60000);\nvar offset=5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date= n.slice(0,10) \nvar time=n.slice(11,16)\nglobal.set('time', time) \nmsg.payload=date+\" \"+time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":280,"wires":[["26e588b46d83fe11"]]},{"id":"92f568bc18d1d77f","type":"function","z":"638e7e247f34d9ba","name":"function to send medicine name to iot","func":"msg.payload={\"command\":msg.payload.name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":40,"wires":[["b9d711b1e3c7e02d","663613159d5bcd50"]]},{"id":"b9d711b1e3c7e02d","type":"debug","z":"638e7e247f34d9ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":60,"wires":[]},{"id":"1d908cc14c85f8c4","type":"switch","z":"638e7e247f34d9ba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":280,"wires":[["92f568bc18d1d77f"]]},{"id":"26e588b46d83fe11","type":"cloudant in","z":"638e7e247f34d9ba","name":"","cloudant":"","database":"medicine","service":"_ext_","search":"_id_","design":"","index":"","x":400,"y":140,"wires":[["1d908cc14c85f8c4"]]},{"id":"7aa2e921245d7e48","type":"cloudant out","z":"638e7e247f34d9ba","name":"","cloudant":"","database":"medicine","service":"_ext_","payonly":false,"operation":"insert","x":780,"y":460,"wires":[]},{"id":"c77c8fd77f65ff79","type":"function","z":"638e7e247f34d9ba","name":"function to store medicine details","func":"var d=msg.payload.date\nvar t=msg.payload.time\nmsg.payload={\n    \"_id\":d+\" \"+t,\n    \"name\": msg.payload.name,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":520,"wires":[["7aa2e921245d7e48","2d699dce4ae36a7c","1e03f3b9f0857464"]]},{"id":"2d699dce4ae36a7c","type":"function","z":"638e7e247f34d9ba","name":"function to clear the form","func":"msg.payload={\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":540,"wires":[["184da3e1e2bcf587"]]},{"id":"184da3e1e2bcf587","type":"delay","z":"638e7e247f34d9ba","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":680,"wires":[["356d189fcf0bf85c"]]},{"id":"356d189fcf0bf85c","type":"ui_form","z":"638e7e247f34d9ba","name":"","label":"Medicine reminder","group":"75fd2c8a8e82a622","order":0,"width":0,"height":0,"options":[{"label":"Medicine name","value":"Medicine name","type":"text","required":true,"rows":null},{"label":"Time(HH:MM)","value":"Time","type":"text","required":true,"rows":null},{"label":"Date(YYYY:MM:DD)","value":"Date","type":"text","required":true,"rows":null}],"formValue":{"Medicine name":"","Time":"","Date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":550,"y":680,"wires":[["1e03f3b9f0857464","c77c8fd77f65ff79"]]},{"id":"1e03f3b9f0857464","type":"debug","z":"638e7e247f34d9ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":680,"wires":[]},{"id":"663613159d5bcd50","type":"ibmiot out","z":"638e7e247f34d9ba","authentication":"apiKey","apiKey":"dd6e6ea41c3c96e4","outputType":"evt","deviceId":"12345","deviceType":"Iotsensor","eventCommandType":"event_1","format":"json","data":"","qos":0,"name":"IBM IoT","service":"registered","x":980,"y":240,"wires":[]},{"id":"75fd2c8a8e82a622","type":"ui_group","name":"Default","tab":"ced5bcc24fb1868c","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd6e6ea41c3c96e4","type":"ibmiot","name":"ibmapi","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ced5bcc24fb1868c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]